<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/squid_animejs.css" rel="stylesheet">
  <link href="../css/squid_website.css" rel="stylesheet">
  <title>Squid</title>
</head>
<body>
<header class="header nav-bar grid-container">
  <div class="nav-bar-content">
    <a href="squid" class="top-header primary"><h1>Squid - Intelligence Type Test</h1></a>
    <nav class="nav-menu">
      <a class="nav-link" href="test">Test</a>
      <a class="nav-link" href="results">Results</a>
      <a class="main-cta" href="login" style="opacity: 1; transition: transform 0.225s ease 0s;">Login</a>
    </nav>
  </div>
</header>

<div class="feature-section">
  <h1>What's your intelligence type?</h1>
  <p></p>
  <ul>
    <li><p></p><a href="test">Take the test!</a></li>
    <li><p></p><a href="types">See Intelligence Types</a></li>
  </ul>
  <img src="../resources//img/purplesquid.jpg" height="300"/>
</div>

<footer>
</footer>
</body>
</html>
