<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../rescources/static/css/squid_animejs.css" rel="stylesheet">
  <link href="../rescources/static/css/squid_website.css" rel="stylesheet">
  <link href="../rescources/static/css/style.css" rel="stylesheet">
  <title>Squid</title>
</head>
<body>
<header class="header nav-bar grid-container">
  <div class="nav-bar-content">
    <a href="squid_index.html" class="top-header primary"><h1>Squid - Intelligence Type Test</h1></a>
    <img src="../rescources/static/img/squid_logo.png" height="100" alt="Squid Logo"/>
    <nav class="nav-menu">
      <a class="nav-link" href="test">Test</a>
      <a class="nav-link" href="results">Resultat</a>
      <a class="nav-link" href="contactus">Kontakt</a>
      <a class="main-cta" href="login" style="opacity: 1; transition: transform 0.225s ease 0s;">Login</a>
    </nav>
  </div>
</header>


<div class="feature-section">
  <h1>Welcher intelligenztyp bist du?</h1>
  <div class="no-bullets">
    <ul>
      <li><a href="test">Take the test!</a></li>
      <li><a href="types">See Intelligence Types</a></li>
    </ul>
  </div>

  <br>
  <img src="../rescources/static/img/squid_logo.png" height="1000" alt="Squid Logo"/>
</div>

<footer>
</footer>
</body>
</html>
